.header {
  background-color: black;
  height: 6.2rem;
  display: flex;
  align-items: center;
  padding-left: 34px;
}
.header_icons {
  display: flex;
  font-size: 1.6rem;
  margin-left: auto;
  margin-right: 4rem;
  gap: 1.6rem;
  justify-self: end;
  align-items: center;
}
.user_icon,
.shoppingcart_icon {
  color: #f4f4f2;
}

.totalCount {
    top: 2rem;
    right: 8.5rem;
    position: absolute;
    background-color: #FF6900;
    width: 15px;
    height: 15px;
    font-size: 10px;
    font-weight: 500;
    color: white;
    text-decoration: none;
    border-radius: 15px;
    text-align: center;
}