.header {
  background-color: black;
    height: 6.2rem;
    display: flex;
    align-items: center;
    padding-left: 34px;
}
.header_icons {
  display: flex;
  font-size: 1.6rem;
  gap: 1.6rem;
  margin-right: 2.5rem;
  margin-top: -2.5rem;
  justify-content: end;
}
.user_icon,
.shoppingcart_icon {
  color: #f4f4f2;
}
