.faq{
    
    .headline {
        font-size: 3rem;
        text-transform: uppercase;
    }
    article {
        padding: 2rem;
    }
}

.subheadline {
    font-size: 1.5rem;
    text-transform: uppercase;
}
.faqtext {
    font-size: 0.875rem;
    white-space: pre-wrap;
}

.faqbox {
    margin: 1.5rem auto;
    width: 70.25rem;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.headlinetext {
    font-size: 1.5rem;
}

