.productpage_container{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    h2{
        font-size: 48px;
        font-weight:500;
        color: #495464;
    }
}

.products{
    grid-area: 1/2/-1/5;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
    row-gap: 31px;
    column-gap: 26px;
    .stock_container{
        max-width: 234px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        p{
            justify-self: center;
            align-self: center;
            font-size: 14px;
            font-weight: 400;
            display: flex;
            align-items: center;
            gap: 9px;
        }
        
    }
}
.stock_icon{
    background-color: #008000;
    border-radius: 15px;
    width: 15px;
    height: 15px;
}