@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");

.product_heading {
  font-size: 48px;
  padding: 2.5rem;
  color: #495464;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
}

h3 {
  font-size: 24px;
  font-family: "Open Sans", sans-serif;
}

p {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}

.productContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 2.5rem 5rem auto;
}

.productsImages {
  height: 300px;
  width: 450px;
}

.product {
  display: grid;
  grid-template-columns: repeat(3, 3rem);
  gap: 1.5rem;
  margin-top: 2.5rem;
}

.black:hover {
  opacity: 0.75;
}

.silver:hover {
  opacity: 0.75;
}

.gold:hover {
  opacity: 0.75;
}

.black {
  width: 40px;
  height: 40px;
  border-radius: 30px;
  background: #000000;
  cursor: pointer;
  transition: 0.25s;
}

.silver {
  width: 40px;
  height: 40px;
  border-radius: 30px;
  background: linear-gradient(200.56deg, #919292 24.92%, #dfe0e1 86.36%);
  cursor: pointer;
  transition: 0.25s;
}

.gold {
  width: 40px;
  height: 40px;
  border-radius: 30px;
  background: linear-gradient(191.53deg, #af8726 13.03%, #f8f08b 91.53%);
  cursor: pointer;
  transition: 0.25s;
}

.productPrice {
  font-size: 1.5rem;
  font-weight: 600;
}

.productDescription {
  margin-right: 3.6rem;
}

.radio{
  accent-color:#FF6900;

}

.color {
  height: 30px;
  width: 30px;
  border: 1px solid black;
  border-radius: 20px;
}

  .black {
    background-color: black;
  }

.gold {
  background: linear-gradient(
    180deg,
    rgba(175, 135, 38, 1) 0%,
    rgba(248, 240, 139, 1) 100%
  );
}

  .gold {
    background: linear-gradient(
      180deg,
      rgba(175, 135, 38, 1) 0%,
      rgba(248, 240, 139, 1) 100%
    );
  }


.colorBtn_black {
  background-color: black;
}

input {
  width: 40px;
  height: 40px;
  cursor: pointer;
  content: "";
}


.inStock {
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background-color: #008000;
}

.addtocartBtn {
  border-radius: 2.5px;
  width: 23rem;
  height: 2.8rem;

  .colorBtn_silver {
    background: linear-gradient(
      180deg,
      rgba(145, 146, 146, 1) 0%,
      rgba(223, 224, 225, 1) 100%
    );
  }

  .colorBtn_gold {
    background: linear-gradient(
      180deg,
      rgba(175, 135, 38, 1) 0%,
      rgba(248, 240, 139, 1) 100%
    );
  }

  .productPrice {
    font-size: 24px;
    font-weight: 600;
  }

  .inStock {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color: #008000;
  }

  .addtocartBtn {
    border-radius: 2.5px;
    width: 23rem;
    height: 2.8rem;
  }
}

.specsContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.specifications {
  display: flex;
  background: #dfe0e1;
  height: 50px;
  align-items: center;
  td,
  th {
    height: 50px;
    line-height: 50px;
    text-align: center;
  }
  td {
    width: 287px;
  }
}
.specifications:nth-child(even) {
  background-color: white;
}
.specsheader {
  border-right: 1px solid #d2d2d2;
  width: 213px;
}

