@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");

h2 {
  font-size: 48px;
  padding: 2.5rem;
  color: #495464;
  font-weight: 500;
  font-family: "Open Sans", sans-serif;
}
h3 {
  font-size: 24px;
  font-family: "Open Sans", sans-serif;
}
p {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}

.productContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 3rem;
}
.productsImages {
  height: 300px;
  width: 450px;
}

.color {
  height: 30px;
  width: 30px;
  border: 1px solid black;
  border-radius: 20px;
}
.colorBtn_black {
  background-color: black;
}
.colorBtn_silver {
  background: linear-gradient(
    180deg,
    rgba(145, 146, 146, 1) 0%,
    rgba(223, 224, 225, 1) 100%
  );
}
.colorBtn_gold {
  background: linear-gradient(
    180deg,
    rgba(175, 135, 38, 1) 0%,
    rgba(248, 240, 139, 1) 100%
  );
}

.productPrice {
  font-size: 24px;
  font-weight: 600;
}
