.cart_icon {
    display: flex;
    position: relative;
    justify-content: flex-end;
}

.cart_contents {
    top: -5px;
    right: -8px;
    position: absolute;
    background-color: #FF6900;
    width: 15px;
    height: 15px;
    font-size: 10px;
    font-weight: 500;
    color: white;
    text-decoration: none;
    border-radius: 15px;
    text-align: center;
}