.sortingform {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.brand,
.color {
    justify-self: center;
    display: grid;
    grid-template-columns: repeat(2, auto);
    background-color: #E8E8E8;
    width: 263px;

    label {
        justify-self: start;
    }

    input {
        justify-self: end;
        width: 20px;
    }

}