
*{
    margin: 0;
    padding: 0;
}

img{
    height: auto;
    width: 100%;
    box-sizing: border-box;
}

// fontfamily
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

$primarycolor: #F4F4F2;
$secondarycolor: #E8E8E8;
$tertiarycolor: #BBBFCA;
$quaternarycolor: #495464;
$quinarycolor: #000000;
$accentcolor: #FF6900;
