* {
  margin: 0;
  padding: 0;
}

img {
  height: auto;
  width: 100%;
  box-sizing: border-box;
}

// fontfamily
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

$primarycolor: #f4f4f2;
$secondarycolor: #e8e8e8;
$tertiarycolor: #bbbfca;
$quaternarycolor: #495464;
$quinarycolor: #000000;
$accentcolor: #ff6900;
